---
layout: page
title: justjavac的博客
keywords: justjavac, web开发
description: justjavac的个人博客， 探讨目前最时髦的web开发技术。
tagline: 专注最时髦的web开发技术
---
{% include JB/setup %}

<div class="row">
  <div class="span8">
    {% assign posts_collate = site.posts %}
    {% include JB/posts_collate %}
  </div>
  
  <aside class="span4">
    
    <section>
    <h3>RSS订阅</h3>
    <p>本博客源码托管在 <a href="https://github.com/justjavac/justjavac.github.com" target="_blank">github</a> 上，因此访问速度不是很快，而且有时会出现打不开的情况（你懂滴），
        建议大家多使用RSS访问阅读（推荐使用 <a href="https://www.google.com/reader/view/feed/http%3A//justjavac.com/atom.xml" target="_blank" title="订阅到 Goolge Reader">Google Reader</a>）。</p>
    </section>
    
    <section>
    <h3>推荐阅读</h3>
    <ul id="recent_posts">
      <li><a href="http://justjavac.com/codepuzzle/2012/09/25/codepuzzle-introduction.html">代码之谜 - 开篇/前言/序</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/qualified-programmer-should-read-what-books.html">一个合格的程序员应该读过哪些书</a></li>
      <li><a href="http://justjavac.com/other/2012/09/21/why-are-you-so-low-salary.html">你为什么薪水那么低</a></li>
      <li><a href="http://justjavac.com/javascript/2012/05/24/can-you-explain-why-10.html">为什么 ++[[]][+[]]+[+[]] = 10？</a></li>
      <li><a href="http://justjavac.com/other/2012/09/20/a-programmer-mentees-recommendations.html">程序员之路——一个老程序员的忠告</a></li>
      <li><a href="http://justjavac.com/other/2012/09/03/how-lazy-have-much-leisure.html">人有多大懒，才有多大闲</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/whats-wrong-with-the-for-loop.html">for 循环为何可恨？</a></li>
      <li><a href="http://justjavac.com/other/2012/05/24/introducing-the-for-if-anti-pattern.html">反for-if编程模式</a></li>
      <li><a href="http://justjavac.com/javascript/2012/04/05/how-to-avoid-the-assignment-statement.html">如何避免产生赋值语句</a></li>
      <li><a href="http://justjavac.com/other/2012/07/20/write-less-code.html">写更少的代码</a>
    </ul>
    </section>
    
    <section>
    <h3>热门文章</h3>
    <iframe width="100%" height="305" frameborder="0" scrolling="no" src="http://app.wumii.com/ext/widget/hot?prefix=http%3A%2F%2Fjustjavac.com%2F&num=10&t=1"></iframe>
    </section>    
 
    <section>
    {% unless site.categories == empty %}
    <h3>分类</h3>
    <ul class="tag_box">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>
    {% endunless %}  
    </section>
    
  </aside>
</div>


