---
layout: page
title: 转载
tagline: 我们不生产文章，我们只是互联网的搬运工。
keywords: justjavac, web开发
description: 我们不生产文章，我们只是互联网的搬运工。
---
{% include JB/setup %}

<div class="row">
  <div class="span8">
  {% for post in site.posts %}
    {% if post.type == "porter" %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
    
      {% if forloop.first %}
        <h2>{{this_year}}年{{this_month}}月</h2>
        <ul>
      {% endif %}
    
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
    
      {% if forloop.last %}
        </ul>
      {% else %}
        {% if this_year != next_year %}
          </ul>
          <h2>{{next_year}}年{{next_month}}月</h2>
          <ul>
        {% else %}
          {% if this_month != next_month %}
            </ul>
            <h2>{{next_year}}年{{next_month}}月</h2>
            <ul>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  
  <aside class="span4">

  <section>
    <h3>RSS订阅</h3>
    本博客源码托管在 <a rel="nofollow" href="https://github.com/justjavac/justjavac.github.com" target="_blank">github</a> 上，
    因此访问速度不是很快，而且有时会出现打不开的情况（你懂滴），
    建议大家多使用RSS访问阅读
    <ul id="recent_posts">
      <li><!--以下是QQ邮件列表订阅嵌入代码--><a target="_blank" rel="nofollow" href="http://list.qq.com/cgi-bin/qf_invite?id=2f54986df62b02b3f1cf5da7de51cc06945b798bbb4ead53"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_s.png" /></a></li>
      <li><a target="_blank" title="订阅到鲜果 RSS阅读器" href="http://xianguo.com/subscribe?url=http%3A%2F%2Fjustjavac.com%2Fatom.xml"><img src="http://static.xgres.com/static/images/sub/sub_XianGuo_01.gif" border="0" alt="鲜果阅读器订阅图标" /></a></li>
    </ul>
   </section>

    <section>
    <h3>推荐阅读</h3>
    <ul id="recent_posts">
      <li><a href="http://phpbestpractices.justjavac.com/" target="_blank">PHP 最佳实践（译）</a></li>
      <li><a href="http://layoutit.justjavac.com" target="_blank">基于 bootstrap 实现可视化布局的 layoutit! 离线中文版</a></li>
      <li><a href="http://justjavac.com/named-function-expressions-demystified.html" target="_blank">命名函数表达式探秘</a></li>
      
      <li><a href="http://justjavac.com/codepuzzle/2012/09/25/codepuzzle-introduction.html" target="_blank">代码之谜 - 开篇/前言/序</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/qualified-programmer-should-read-what-books.html" target="_blank">一个合格的程序员应该读过哪些书</a></li>
      <li><a href="http://justjavac.com/other/2012/09/21/why-are-you-so-low-salary.html" target="_blank">你为什么薪水那么低</a></li>
      <li><a href="http://justjavac.com/javascript/2012/05/24/can-you-explain-why-10.html" target="_blank">为什么 ++[[]][+[]]+[+[]] = 10？</a></li>
      <li><a href="http://justjavac.com/other/2012/09/20/a-programmer-mentees-recommendations.html" target="_blank">程序员之路——一个老程序员的忠告</a></li>
      <li><a href="http://justjavac.com/other/2012/09/03/how-lazy-have-much-leisure.html" target="_blank">人有多大懒，才有多大闲</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/whats-wrong-with-the-for-loop.html" target="_blank">for 循环为何可恨？</a></li>
      <li><a href="http://justjavac.com/javascript/2012/04/05/how-to-avoid-the-assignment-statement.html" target="_blank">如何避免产生赋值语句</a></li>
    </ul>
    </section>
    
    <link rel="prerender" href="http://justjavac.com/codepuzzle/2012/09/25/codepuzzle-introduction.html">
    <link rel="prerender" href="http://justjavac.com/codepuzzle/2012/11/02/codepuzzle-float-from-surprised-to-ponder.html">
    <link rel="prerender" href="http://justjavac.com/javascript/2012/05/24/can-you-explain-why-10.html">
    <link rel="prerender" href="http://justjavac.com/codepuzzle/2012/10/28/codepuzzle-operator.html">
    <link rel="prerender" href="http://justjavac.com/other/2012/11/12/do-not-bool-as-function-parameters.html">
    <link rel="prerender" href="http://justjavac.com/other/2012/05/15/qualified-programmer-should-read-what-books.html">

    <section>
    <h3>热门文章</h3>
<ul class="hots gray">
    <li class="textItem">
            <p class="itemTitle">
                <span class="">1</span>
                <a href="http://justjavac.com/other/2012/05/15/qualified-programmer-should-read-what-books.html" target="_blank" title="一个合格的程序员应该读过哪些书">
    一个合格的程序员应该读过哪些书</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">2</span>
                <a href="http://justjavac.com/codepuzzle/2012/09/25/codepuzzle-introduction.html" target="_blank" title="代码之谜（零）- 开篇/前言/序">
    代码之谜（零）- 开篇/前言/序</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">3</span>
                <a href="http://justjavac.com/codepuzzle/2012/11/02/codepuzzle-float-from-surprised-to-ponder.html" target="_blank" title="代码之谜（四）- 浮点数（从惊讶到思考）">
    代码之谜（四）- 浮点数（从惊讶到思考）</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="hot">4</span>
                <a href="http://justjavac.com/javascript/2012/05/24/can-you-explain-why-10.html" target="_blank" title="为什么 ++[[]][+[]]+[+[]] = 10？">
    为什么 ++[[]][+[]]+[+[]] = 10？</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">5</span>
                <a href="http://justjavac.com/codepuzzle/2012/10/28/codepuzzle-operator.html" target="_blank" title="代码之谜（三）- 运算符">
    代码之谜（三）- 运算符</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">6</span>
                <a href="http://justjavac.com/other/2012/11/12/do-not-bool-as-function-parameters.html" target="_blank" title="千万不要把 bool 当成函数参数">
    千万不要把 bool 当成函数参数</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">7</span>
                <a href="http://justjavac.com/codepuzzle/2012/10/28/codepuzzle-expression-and-statement.html" target="_blank" title="代码之谜（二）- 语句与表达式">
    代码之谜（二）- 语句与表达式</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">8</span>
                <a href="http://justjavac.com/codepuzzle/2012/10/15/codepuzzle-finite-and-infinite.html" target="_blank" title="代码之谜（一）- 有限与无限">
    代码之谜（一）- 有限与无限</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">9</span>
                <a href="http://justjavac.com/nosql/2012/04/13/redis-persistence-demystified.html" target="_blank" title="解密Redis持久化">
    解密Redis持久化</a></p>
            </li>
    <li class="textItem">
            <p class="itemTitle">
                <span class="">10</span>
                <a href="http://justjavac.com/codepuzzle/2012/11/11/codepuzzle-float-who-stole-your-accuracy.html" target="_blank" title="代码之谜（五）- 浮点数（谁偷了你的精度？）">
    代码之谜（五）- 浮点数（谁偷了你的精度？）</a></p>
            </li>
    </ul>
    </section>    
 
  </aside>
</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
