pre .hll { background-color: #ffffcc }
pre  { background: #f0f0f0; }
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */

.highlight pre .hll { background-color: #4f424c }
.highlight pre  { background: #2f1e2e; color: #e7e9db }
.highlight pre .c { color: #776e71 } /* Comment */
.highlight pre .err { color: #ef6155 } /* Error */
.highlight pre .k { color: #815ba4 } /* Keyword */
.highlight pre .l { color: #f99b15 } /* Literal */
.highlight pre .n { color: #e7e9db } /* Name */
.highlight pre .o { color: #5bc4bf } /* Operator */
.highlight pre .p { color: #e7e9db } /* Punctuation */
.highlight pre .cm { color: #776e71 } /* Comment.Multiline */
.highlight pre .cp { color: #776e71 } /* Comment.Preproc */
.highlight pre .c1 { color: #776e71 } /* Comment.Single */
.highlight pre .cs { color: #776e71 } /* Comment.Special */
.highlight pre .gd { color: #ef6155 } /* Generic.Deleted */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #48b685 } /* Generic.Inserted */
.highlight pre .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.highlight pre .kc { color: #815ba4 } /* Keyword.Constant */
.highlight pre .kd { color: #815ba4 } /* Keyword.Declaration */
.highlight pre .kn { color: #5bc4bf } /* Keyword.Namespace */
.highlight pre .kp { color: #815ba4 } /* Keyword.Pseudo */
.highlight pre .kr { color: #815ba4 } /* Keyword.Reserved */
.highlight pre .kt { color: #fec418 } /* Keyword.Type */
.highlight pre .ld { color: #48b685 } /* Literal.Date */
.highlight pre .m { color: #f99b15 } /* Literal.Number */
.highlight pre .s { color: #48b685 } /* Literal.String */
.highlight pre .na { color: #06b6ef } /* Name.Attribute */
.highlight pre .nb { color: #e7e9db } /* Name.Builtin */
.highlight pre .nc { color: #fec418 } /* Name.Class */
.highlight pre .no { color: #ef6155 } /* Name.Constant */
.highlight pre .nd { color: #5bc4bf } /* Name.Decorator */
.highlight pre .ni { color: #e7e9db } /* Name.Entity */
.highlight pre .ne { color: #ef6155 } /* Name.Exception */
.highlight pre .nf { color: #06b6ef } /* Name.Function */
.highlight pre .nl { color: #e7e9db } /* Name.Label */
.highlight pre .nn { color: #fec418 } /* Name.Namespace */
.highlight pre .nx { color: #06b6ef } /* Name.Other */
.highlight pre .py { color: #e7e9db } /* Name.Property */
.highlight pre .nt { color: #5bc4bf } /* Name.Tag */
.highlight pre .nv { color: #ef6155 } /* Name.Variable */
.highlight pre .ow { color: #5bc4bf } /* Operator.Word */
.highlight pre .w { color: #e7e9db } /* Text.Whitespace */
.highlight pre .mb { color: #f99b15 } /* Literal.Number.Bin */
.highlight pre .mf { color: #f99b15 } /* Literal.Number.Float */
.highlight pre .mh { color: #f99b15 } /* Literal.Number.Hex */
.highlight pre .mi { color: #f99b15 } /* Literal.Number.Integer */
.highlight pre .mo { color: #f99b15 } /* Literal.Number.Oct */
.highlight pre .sb { color: #48b685 } /* Literal.String.Backtick */
.highlight pre .sc { color: #e7e9db } /* Literal.String.Char */
.highlight pre .sd { color: #776e71 } /* Literal.String.Doc */
.highlight pre .s2 { color: #48b685 } /* Literal.String.Double */
.highlight pre .se { color: #f99b15 } /* Literal.String.Escape */
.highlight pre .sh { color: #48b685 } /* Literal.String.Heredoc */
.highlight pre .si { color: #f99b15 } /* Literal.String.Interpol */
.highlight pre .sx { color: #48b685 } /* Literal.String.Other */
.highlight pre .sr { color: #48b685 } /* Literal.String.Regex */
.highlight pre .s1 { color: #48b685 } /* Literal.String.Single */
.highlight pre .ss { color: #48b685 } /* Literal.String.Symbol */
.highlight pre .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #ef6155 } /* Name.Variable.Class */
.highlight pre .vg { color: #ef6155 } /* Name.Variable.Global */
.highlight pre .vi { color: #ef6155 } /* Name.Variable.Instance */
.highlight pre .il { color: #f99b15 } /* Literal.Number.Integer.Long */