<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="5f1f7ad2a57c201714656f516cf11b94"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link rel="alternate" title="{{ site.title }}" href="/atom.xml" type="application/rss+xml" />
  	<!--[if lt IE 9]>
  	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
  	<script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]-->

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{ ASSET_PATH }}/css/style.css?v=201312251006" rel="stylesheet" media="all" />
    <link href="{{ ASSET_PATH }}/css/pygments.css?v=201312251006" rel="stylesheet" media="all" />

    <link rel="index prerender" title="{{ site.title }}" href="{{ HOME_PATH }}" />
    {% if page.previous %}
    <link rel="prev prerender" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" />
    {% endif %}
    {% if page.next %}
    <link rel="next prerender" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" />
    {% endif %}
    
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            <li><a href="/codepuzzle.html">代码之谜</a></li>
            <li><a href="/categories.html">目录</a></li>
            <li class="hidden-phone"><a href="/about.html">关于迷渡</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">我在这里<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://weibo.com/justjavac" target="_blank">微博</a></li>
                <li><a href="http://www.zhihu.com/people/justjavac.com" target="_blank">知乎</a></li>
                <li><a href="http://segmentfault.com/u/justjavac" target="_blank">segmentfault</a></li>
                <li><a href="https://github.com/justjavac" target="_blank">github</a></li>
                <li><a href="http://stackoverflow.com/users/343194/justjavac" target="_blank">stackoverflow</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
     {{ content }}
      </div>

      <footer>
        <p>&copy; <a href="http://weibo.com/justjavac">@{{ site.author.name }}</a> 2012 
          基于 <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          和 <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a> 构建, 
          源码托管在 <a href="https://github.com/justjavac/justjavac.github.com" target="_blank">github</a> 上
        </p>
      </footer>

    </div>

    <a class="v-fork-me" href="https://github.com/justjavac/justjavac.github.com" target="_blank" rel="nofollow">
      <img src="{{ ASSET_PATH }}/bootstrap/img/forkme_right_darkblue.png" alt="Fork me on GitHub">
    </a>

    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/jqueryui/1.9.0/jquery-ui.min.js "></script>
    <script src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-affix.js"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?5578a27c6c70bf44e7509eda26137f4c";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
       
  </body>
</html>
