<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    <script type="text/javascript">
    var wumiiPermaLink = ""; //请用代码生成文章永久的链接
    var wumiiTitle = ""; //请用代码生成文章标题
    var wumiiTags = ""; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiSitePrefix = "http://justjavac.com/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget"></script>
<a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
    <img src="http://static.wumii.cn/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
      {% else %}
        <li class="prev disabled"><a>上一篇: 没有了</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>下一篇: 没有了</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <aside class="span4">
<iframe width="300" height="90" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=300&height=90&fansRow=1&ptype=0&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=1361535293&verifier=cfc77363&colors=d6f3f7,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>    <h3>发布日期</h3>
    <div class="date"><span>{{ page.date | date:"%Y-%m-%d" }}</span></div>

    <section>
  {% unless page.tags == empty %}
    <h3>标签</h3>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
    </section>
    
    <section>
    <h3>推荐阅读</h3>
    <ul id="recent_posts">
      <li><a href="http://justjavac.com/codepuzzle/2012/09/25/codepuzzle-introduction.html">代码之谜 - 开篇/前言/序</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/qualified-programmer-should-read-what-books.html">一个合格的程序员应该读过哪些书</a></li>
      <li><a href="http://justjavac.com/other/2012/09/21/why-are-you-so-low-salary.html">你为什么薪水那么低</a></li>
      <li><a href="http://justjavac.com/javascript/2012/05/24/can-you-explain-why-10.html">为什么 ++[[]][+[]]+[+[]] = 10？</a></li>
      <li><a href="http://justjavac.com/other/2012/09/20/a-programmer-mentees-recommendations.html">程序员之路——一个老程序员的忠告</a></li>
      <li><a href="http://justjavac.com/other/2012/09/03/how-lazy-have-much-leisure.html">人有多大懒，才有多大闲</a></li>
      <li><a href="http://justjavac.com/other/2012/05/15/whats-wrong-with-the-for-loop.html">for 循环为何可恨？</a></li>
      <li><a href="http://justjavac.com/other/2012/05/24/introducing-the-for-if-anti-pattern.html">反for-if编程模式</a></li>
      <li><a href="http://justjavac.com/javascript/2012/04/05/how-to-avoid-the-assignment-statement.html">如何避免产生赋值语句</a></li>
      <li><a href="http://justjavac.com/other/2012/07/20/write-less-code.html">写更少的代码</a>
    </ul>
    </section>
    
  </aside>
</div>
